@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* #8B5F41 */
/* #692700 */
* {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(../Images/game-background.avif);
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", serif;
    font-size: 2.5rem;
    cursor: pointer;
    color: #483f3f;
}

/* Introduction Panel Styles*/
.introGame-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../Images/intro-background.webp');
    background-size: cover;
}

.introGame-panel h1 {
    margin: 100px auto 20px;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: #888888f7;
}

.img-portada {
    width: 300px;
    opacity: 0.9;
}

.startButton {
    margin: 5px auto 10px;
    width: 300px;
    height: 10vh;
    font-size: 4.5rem;
    background: url('../Images/button-background.jpg');
    background-size: cover;
    border-image: linear-gradient(to bottom, #bdc3c7, #2c3e50) 1;
    transition: font-size 1s ease;
}

.startButton:hover {
    font-size: 5.4rem;
    transition: font-size 1s ease;
}

.instructionsButton {
    margin: 10px auto;
    width: 300px;
    height: 5vh;
    background: url('../Images/button-background.jpg');
    border-image: linear-gradient(to bottom, #bdc3c7, #2c3e50) 1;
    transition: font-size 1s ease;
}

.instructionsButton:hover {
    font-size: 3.1rem;
    transition: font-size 1s ease;
}

.instructions-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.instructions-panel h2 {
    color: #fff;
}

.instructions-panel .instructions-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instructions-description article {
    margin: 0 20px;
    text-align: center;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}

.instructions-description span {
    font-weight: bold;
}

.instructions-panel .img-info {
    display: flex;
    margin: auto;
    width: 100px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: url('../Images/intro-background.webp');
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeModal {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}


/* Game Panel Styles */
.game-panel {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 1000px;
    height: 100vh;
    margin: auto;
}

.score-panel {
    display: flex;
    width: 100%;
    margin: auto;
    background: url('../Images/intro-background.webp');
    opacity: 0.7;
    border: 5px solid #483f3f;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

.score-panel h2 {
    margin: auto;
}

.game-board {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;
}

.game-board div {
    border: 5px solid #483f3f;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}


/* GameOver Panel Styles */
.gameOver-panel {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../Images/intro-background.webp');
    background-size: cover;
}

.gameOver-panel h2 {
    margin: 100px auto 20px;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: #888888f7;
}

.finalScore {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #888888f7;
}

.gameOver-panel img {
    width: 600px;
    margin: auto;
}

.resetButton {
    margin: auto;
    width: 500px;
    height: 10vh;
    font-size: 4.5rem;
    background: url('../Images/button-background.jpg');
    background-size: cover;
    border-image: linear-gradient(to bottom, #bdc3c7, #2c3e50) 1;
    transition: font-size 1s ease;
}

.resetButton:hover {
    font-size: 5.4rem;
    transition: font-size 1s ease;
}